<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>{% block title %}Chat Example{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  	<link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  	<link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>
<body>
	<header>
		<h1>a header here</h1>
		{% if user.is_authenticated %}
			<a href="/accounts/logout/">Logout</a>
		{% endif %}
	</header>
	<div class="section">
    	<div class="container">
      		{% block content %}{% endblock content %}
    	</div>
  	</div>  
  	{% block afterbody %}{% endblock afterbody %}
</body>
</body>
</html>


